.App {
  text-align: center;
}


.buttonclass{
  display: inline-block;
    font-weight: 400;
    color: #212529;
    text-align: center;
    vertical-align: middle;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-color: transparent;
    border: 1px solid transparent;
    padding: .375rem .75rem;
    font-size: 1rem;
    line-height: 1.5;
    border-radius: .25rem;
    font-size: 22px;
    border: 2px solid #fff700;
    background-color: green;
    color: white;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}


.txtcss{
  width:60%;
padding:11px;
height: 40px;
font-size: 19px;  
}
.textareacss{
  width: 90%;
    height: 700px;
    margin: 11px;
    padding: 11px;
    font-size: 19px;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
